# Copy this file to docker-compose.override.yml and fill in real values
# Never commit the real docker-compose.override.yml

version: '3.8'
services:
  influxdb:
    environment:
      - INFLUX_DB_INIT=true
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=${DOCKER_INFLUXDB_INIT_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=MidnightRider
      - DOCKER_INFLUXDB_INIT_BUCKET=midnight_rider
      - DOCKER_INFLUXDB_INIT_RETENTION=720h
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
