[Desktop Entry]
Name=Interface Régate
Comment=Timer, voiles, barreur, ligne
Exec=xdg-open http://localhost:5000
Icon=flag
Terminal=false
Type=Application
Categories=Navigation;
